@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: clip;
    overflow-y: visible;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4 md:px-8 lg:px-16;
  }
  .side-fade {
    mask-image: linear-gradient(
      to right,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }
  .top-fade {
    mask-image: linear-gradient(
      to top,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }
  .clickEffect {
    @apply mt-1 outline-2 outline-offset-2 outline-lime-400;
  }
}
